.popup
{
  width: 10%;
  float: right;
  padding: 16px;
  margin: 16px;
  background-color: #C0C0C0;
}
body
{
  font-size:18px;
}
h1,h2,h3,h4,h5,h6,p,ol
{
  margin: 40px auto;
  max-width:650px;
  min-width: 400px;
  line-height:1.6;
  color:#444;
  padding:010px;
  text-align: justify;
}

.lineheight
{
  font-size: x-large;
  font-family: Verdana, Arial;
}

.eee
{
  font-family: Verdana, Arial;
}
